body{
    margin: 0;
    font-family: 'Montserrat';
}

#menu__toggle{
    display: none;
}
.menu__box{
  margin: 0;
  padding: 1% 18%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  background-color:white;
  position: sticky;
}
.header-info{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 0 14%;
  background-image: url(../img/shutterstock_353200073.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 745px;
}
.menu__box a{
  text-decoration: none;
  color: rgb(61, 61, 61);
  padding-bottom: 3px;
  transition: 0.3s;
  border-bottom: 3px solid rgba(247, 173, 89, 0);
}
.menu__box a:hover{
    border-bottom: 3px solid rgb(152, 92, 51);
}
.menu__box>li:first-child{
    margin-right: 40%;
}
h1{
  background-color:black;
  color: white;
  font-weight: 300;
  padding: 0.5% 2.5%;
  font-size: 3vw;
  margin-bottom: 1%;
}
.header-info>p{
  font-size: 1.2vw; 
  letter-spacing:0.4vw;
}
h2{
  text-align: center;
  color: rgb(61, 61, 61);
}
.heading{
  margin: 3% 0;
}
.heading>hr{
  margin-inline:45% ;
}
.allWorks{
  padding: 0 18%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.allWorks img{
  width: 100%;
}
.firstColumn,.secColumn,.thirdColumn{
  width: 32%;
}
.allWorks a{
  display: block;
  padding-top: 5%;
}
.heading>hr:first-child{
  margin-top: 4%;
}
.footerLogo{
  text-align: center;
  margin: 3% 0;
}
/* Настройки маркированного списка */
.hover-effect-cover {
  list-style:none;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 0;
}
.hover-effect-cover li {
  position: relative;
  width: 49%; /* Задаем ширину элемента списка с картинкой*/
  display: inline-block;
  background-color: #fff;
  margin: 0;
  border: 5px solid #fff;
  box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
/* Заголовок, текст и ссылка */
.hover-effect-cover li h3{
  color: #fff;
  margin: 5px;
}
.hover-effect-cover li p{
  color: #fff;
  margin: 5px;
}
.hover-effect-cover li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #fff;
  background: #000;
  border-radius: 5px;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}
.hover-effect-cover li a:hover {
  background: #454545;
  color: #fff;
}
/* Выезжающий блок с текстом для панели снизу вверх */
.hover-effect-cover li > div.effect-to-top {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hover-effect-cover li:hover > div.effect-to-top {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.hover-effect-cover li div.effect-to-top {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Фон блока при наведении */
  transition: all 0.4s ease-in-out;
  color: #fff;
  transform: translate(0px, 250px) rotate(0deg); /* Направление выезжающей панели */
}
.hover-effect-cover li:hover div.effect-to-top {
  opacity: 1;
  transform: translate(0px, 0px) rotate(0deg);
}



@media(max-width:768px){ 
    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
      }
      .menu__item {
        display: inline-block;
        margin: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
      }
    .header-info{
      height: 300px;
    }
    .allWorks{
      justify-content: center;
    }
    .allWorks img{
      width: 100%;
    }

    .menu__box>li:first-child{
      margin-left: 9%;
  }
  .firstColumn,.secColumn,.thirdColumn{
    width: 100%;
  }
}
@media(max-width:425px){
  .header-info{
      background-size: 165%;
      background-position-x: -150px;
  }
  h1{
    font-size: 5vw;
  }
  p{
    font-size: 2.5vw !important; 
  }
 }